<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script type=text/javascript src="{{url_for('static',filename='js/index.js')}}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
    <title>可视化</title>
</head>
<body>
    <div class="module-left">
        <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#message" data-toggle="tab">违规信息</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages"data-toggle="tab">Messages</a></li>
        <li><a href="#settings"data-toggle="tab">Settimiiings</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="message">
            <input id="findinput"  type="text"/>
            
            <table id="mytree">
                <tr>
                    <td>
                        <p><span class="hidden">2018-9</span><div id="main"style="width: 500px;height:400px;"></div></p>
                    </td>
                    <td>
                        <p><span class="hidden">2018-10</span><div id="main2" style="width: 500px;height:400px;"></div></p>
                    </td>
                </tr>
            </table>
             
        </div>
        <div class="tab-pane" id="profile"></div>
        <div class="tab-pane" id="messages">...a</div>
        <div class="tab-pane" id="settings">...x</div>
    </div>
    <script>

        var myChar = echarts.init(document.getElementById('main'));
        var option = {
            series:[
                {
                    name:'huitu',
                    type:'pie',
                    radius:'50%',
                    data:[]
                }
            ]
        };
        myChar.setOption(option);
        
        $(function(){
            $.get('/bing',function(data){
                myChar.setOption({
                  
                    series:{
                        data:data.data
                    }
                    
                })
            })
        });

        var myChart = echarts.init(document.getElementById('main2'));
        var option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [],
                type: 'bar'
            }]
            };
        myChart.setOption(option);
        
        $(function(){
            $.get('/weather',function (data) {
                myChart.setOption({
                    title: {
                        text: '成绩预览'
                    },
                    series: {
                        data:data.month
                    }
                });
            });
        });


        $('#findinput').bind('input change', function() { 
            var insertVal = $(this).val();  
            $("#mytree td").each(function(){
                var paraStr = $(this).children().children().html();
                if(paraStr.indexOf(insertVal)<0){
                  $(this).hide();
                }else{
                  $(this).show();
                }
            }) 
         }); 


         

    </script>
</body> 
</html>
